@import "tailwindcss";

:root {
  --background: #ffffff;
  --color-primary: #fe5b3e;
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  font-family: var(--font-alexandria, var(--font-cairo, system-ui, sans-serif));
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility text-gradient {
  @apply bg-linear-to-b from-white via-white bg-clip-text font-semibold text-transparent;
}
